<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pakta Integritas</title>

	<style type="text/css">
		body{
			font-family: 'Times New Roman';
			font-size: 12pt;
		}
		.text-center{
			text-align: center;
		}
		p{
			/*line-height: 1;*/
		}
		ol li{
			margin-bottom: 5px;
		}
		.sign{
			/*border: 1px solid #000;
			padding: 10px;*/
		}
		.sign small{
			font-size: 10pt;
			/*font-family: 'Arial';*/
		}
	</style>
</head>
<body>

<main>
	<p class="text-center"><img src="[LOGO_INSTANSI]" width="100"></p> <br>
	<p class="text-center">PAKTA INTEGRITAS MANAJEMEN RISIKO SPBE</p>
	<p class="text-center">[NOMOR_PIAGAM]</p>
	<p class="text-center">[NAMA_UPR]</p>
	<p class="text-center">[NAMA_INSTANSI]</p>
	<p class="text-center">[TAHUN_PENERAPAN]</p>
	<p style="text-indent: 50px;">Dalam rangka pencapaian sasaran SPBE pada [NAMA_UPR], saya menyatakan bahwa: </p>
	<ol style="margin-left: -20px;">
		<li>Penetapan konteks, identifikasi, analisis, evaluasi, dan rencana penanganan Risiko SPBE telah sesuai dengan ketentuan Manajemen Risiko SPBE yang berlaku di [NAMA_INSTANSI];</li>
		<li>Rencana penanganan Risiko SPBE yang merupakan bagian yang tidak terpisahkan dari pakta integritas ini akan dilaksanakan oleh seluruh jajaran dalam unit yang saya pimpin;</li>
		<li>Pemantauan dan reviu akan dilaksanakan secara berkala untuk meningkatkan efektivitas Manajemen Risiko SPBE.</li>
	</ol>

	<table border="0" width="100%">
		<tr>
			<td width="70%">
				
			</td>
			<td width="30%">
				<p>
					[TEMPAT_TANGGAL] <br>
					<small>Ditandatangi secara elektronik oleh:</small>
				</p>
				[QRCODE]
				<img src="[LOGO_BSRE]" height="64">
				<div class="sign">
					<!-- <table width="100%">
						<tr>
							<td width="30%">
								<img src="[LOGO_INSTANSI]" height="64">
							</td>
							<td width="70%"> -->
								<small><b>[NAMA_USER]</b></small> <br>
								<small>NIP. [NIP_USER]</small> <br>
								<small><b>[JABATAN_USER]</b></small>
							<!-- </td>
						</tr>
					</table> -->
				</div>
			</td>
			
		</tr>
	</table>
</main>

<footer>
	<p class="text-center"><small>Dokumen ini telah ditandatangani secara elektronik menggunakan sertifikat elektronik yang diterbitkan oleh Balai Sertifikasi Elektronik (BSrE) Badan Siber dan Sandi Negara (BSSN)</small></p>
</footer>

</body>
</html>